@import "./build.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: greycliff-cf, sans-serif;
  font-style: normal;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
html::-webkit-scrollbar {
  visibility: hidden;
}

.hide_scrollbar::-webkit-scrollbar {
  visibility: hidden;
}